<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barefoot.easypass">

    <application
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DashBoard"></activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".CSC4205" />
        <activity android:name=".CSC4204" />
        <activity android:name=".CSC4203" />
        <activity android:name=".CSC4202" />
        <activity android:name=".CSC4201" />
        <activity android:name=".CSC4107" />
        <activity android:name=".CSC4105" />
        <activity android:name=".CSC4104" />
        <activity android:name=".CSC4103" />
        <activity android:name=".CSC4102" />
        <activity android:name=".CSC4101" />
        <activity android:name=".CSC3107" />
        <activity android:name=".CSC3106" />
        <activity android:name=".CSC3105" />
        <activity android:name=".CSC3104" />
        <activity android:name=".CSC3103" />
        <activity android:name=".CSC3102" />
        <activity android:name=".CSC3101" />
        <activity android:name=".ENT3201" />
        <activity android:name=".MTH2201" />
        <activity android:name=".CSC2205" />
        <activity android:name=".CSC2204" />
        <activity android:name=".CSC2203" />
        <activity android:name=".CSC2202" />
        <activity android:name=".CSC2201" />
        <activity android:name=".ENT3101" />
        <activity android:name=".GSS2101" />
        <activity android:name=".MTH2104" />
        <activity android:name=".MTH2103" />
        <activity android:name=".CSC2103" />
        <activity android:name=".CSC2102" />
        <activity android:name=".CSC2101" />
        <activity android:name=".GSS1203" />
        <activity android:name=".GSS1202" />
        <activity android:name=".GSS1201" />
        <activity android:name=".STA1201" />
        <activity android:name=".PHY1201" />
        <activity android:name=".MTH1202" />
        <activity android:name=".MTH1201" />
        <activity android:name=".CSC1203" />
        <activity android:name=".CSC1202" />
        <activity android:name=".CSC1201" />
        <activity android:name=".GSS1103" />
        <activity android:name=".GSS1102" />
        <activity android:name=".GSS1101" />
        <activity android:name=".BIO1101" />
        <activity android:name=".CHM1101" />
        <activity android:name=".PHY1104" />
        <activity android:name=".PHY1101" />
        <activity android:name=".MTH1101" />
        <activity android:name=".CSC1101" />
        <activity android:name=".about" />
        <activity
            android:name=".year4semester2"
            android:screenOrientation="locked" />
        <activity
            android:name=".year4semester1"
            android:screenOrientation="locked" />
        <activity
            android:name=".year3semester2"
            android:screenOrientation="locked" />
        <activity
            android:name=".year3semester1"
            android:screenOrientation="locked" />
        <activity
            android:name=".year2semester2"
            android:screenOrientation="locked" />
        <activity
            android:name=".year2semester1"
            android:screenOrientation="locked" />
        <activity
            android:name=".year1semester2"
            android:screenOrientation="locked" />
        <activity
            android:name=".year1semester1"
            android:screenOrientation="locked" />
        <activity
            android:name=".login"
            android:screenOrientation="locked" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>